body {
    background-color: rgb(171, 171, 171);
}

.container {
    text-align: center;
    font-family: Verdana, sans-serif;
    color:aliceblue;
    display:grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
     
}

.bordered {
    width: 100px ;
    height: 50px;
    border-radius: 10%;
    border-right: 2px ;
    border-left: 2px ;
    border-top: 2px ;
    border-bottom: 2px ;
    cursor: pointer;
}

.simple_button {
    background-color: rgb(74, 74, 74)
}

.simple_button:hover {
    background-color: rgb(130, 130, 130)
}

.simple_button:active {
    background-color: rgb(43, 43, 43)
}

.func_button {
    background-color: rgb(176, 58, 115)    
}

.func_button:hover {
    background-color: rgb(209, 77, 141)    
}

.func_button:active {
    background-color: rgb(145, 45, 94)    
}

#cancel {
    background-color: rgb(242, 182, 211)
}

#cancel:hover {
    background-color: rgb(242, 194, 217)
}

#cancel:active {
    background-color: rgb(214, 139, 175)
}

#equal {
    background-color: rgb(242, 182, 211) 
}

#equal:hover {
    background-color: rgb(242, 194, 217)
}

#equal:active {
    background-color: rgb(214, 139, 175)
}

.panel {
    font-size: 100px;
}

.field {
    width: 500px ;
    height: 50px;
    border-radius: 10%;
    border-right: 2px solid;
    border-left: 2px solid;
    border-top: 2px solid;
    border-bottom: 2px solid; 
    background-color: rgb(74, 74, 74);
    font-size: 70px;
    align-items:end;
    justify-content:end;
    text-align:end;  
}

